---
import Layout from '../layouts/BlogPost.astro';
import TimeLine from '../components/TimeLine.astro';
---

<Layout
  title='About Me'
  description='Lorem ipsum dolor sit amet'
  pubDate={new Date('September 24 2025')}
  heroImage='/blog-placeholder-about.jpg'
>
  <p>
    Hi there! My name is Samuel and I'm passionnate about technology,
    specifically about artificial intelligence and robotics. My interest in
    robotics and technology stem from my 10-year long journey in <i>FIRST</i> robotics,
    from <i>FLL</i> (Lego Mindstorms) to <i>FRC</i> (<i>FIRST</i> Robotics Competition).
    This lead me to study Computer Engineering at McGill University which I graduated
    from in 2025.
  </p>
  <TimeLine
    items={[
      {
        dateFrom: new Date('January 01 2018'),
        dateTo: new Date('January 01 2023'),
      },
    ]}
  />
</Layout>
